<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" / />
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Shopping List</title>
  </head>
  <h1>My Shopping List</h1>
  <body>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item..." required/>
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% for(var i=0; i < items.length; i++){ %>
          <li><%= items[i].item %></li>
        <%}%>
      </ul>
      </div>
  </body>
</html>
