<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCJ_ql9m3-3tAMKvjeUXvWbaL-2MIpwncM",
    authDomain: "arboreal-vector-277505.firebaseapp.com",
    databaseURL: "https://arboreal-vector-277505.firebaseio.com",
    projectId: "arboreal-vector-277505",
    storageBucket: "arboreal-vector-277505.appspot.com",
    messagingSenderId: "308289096420",
    appId: "1:308289096420:web:d593be70e70812d1e7faf1",
    measurementId: "G-YB5GBKZ8EN"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>


    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src='/assets/list-handler.js'></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" / />
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Shopping List</title>
  </head>
  <body>
    <div id="title">
      <h1>My Shopping List</h1>
    </div>
    <div id="todo-table">
      <form>
        <input id="item" type="text" name="item" placeholder="Add item..." required/>
        <input id="qty" type="number" name="qty" placeholder="Qty" required/>
        <button type="submit">Add</button>
      </form>
      <ul>
        <% for(var i=0; i < items.length; i++){ %>
          <li><%= items[i].qty%> x <%= items[i].item %></li>
        <%}%>
      </ul>
      </div>
  </body>
</html>
