@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans&display=swap');

body{
    background: #2E3440;
    font-family: 'Dosis', sans-serif;
    color: #D08770;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #3B4252;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
    background: #ECEFF4;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#D8DEE9;
    border: 0;
    float: left;
    font-size: 20px;
    color: #5E81AC;
    border-radius: 5px;
}

button{
    padding: 20px;
    width: 25%;
    float: right;
    background: #4C566A;
    border: 0;
    box-sizing: border-box;
    color: #D08770;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}
