@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans&display=swap');

body{
    background: #2E3440;
    font-family: 'Dosis', sans-serif;
    color: #D08770;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #3B4252;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
    background: #ECEFF4;
}

#title{
  background: #2E3440;
  font-family: 'Dosis', sans-serif;
  color: #8FBCBB;
  position: relative;
  width: 95%;
  margin-left: 40px;
}

input[type="text"]{
    width: 65%;
    padding: 20px;
    background:#D8DEE9;
    border: 0;
    float: left;
    font-size: 20px;
    color: #2E3440;
    border-radius: 5px;
    font-family: 'Dosis'
}

input[type="number"]{
    width: 5%;
    padding: 20px;
    background:#D8DEE9;
    border: 0;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    color: #2E3440;
    border-radius: 5px;
    font-family: 'Dosis'
}

button{
    padding: 20px;
    width: 21%;
    float: right;
    background: #5E81AC;
    border: 0;
    box-sizing: border-box;
    color: #2E3440;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Dosis'
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Dosis';
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
}

li:hover{
    text-decoration: line-through;
    background: #4C566A;
}
